@import "../styles/variables.module.sass"

.form
    padding: $app-md-pd
    background-color: transparent
    font-family: $app-base-font
    margin: $app-lg-pd auto
    font-size: $app-md-ff

.input, .textarea, .select
    margin: $app-md-pd auto
    padding: $app-md-pd
    
.formButton
    padding: $app-md-pd
    background-color: $app-golden-color
    margin: 0 auto
    transition: 0.4s all ease

    &__disabled
        opacity: 0.4
