@import "../styles/variables.module.sass"

.header
    min-height: 8vh
    background-color: $app-element-color
    font-family: $app-title-font
    display: flex
    padding: $app-md-pd
    justify-content: space-between
    font-family: $app-md-ff
    align-items: center
    position: relative

.logo
    width: 100px

    &__img
        width: 100%

.nav
    width: 59%
    background-color: inherit

    &.active
        z-index: 10
        opacity: .95
        transform: scale(1.0)
        border: 3px solid $app-greyTransparent-color

.menuList
    display: flex
    align-items: center
    justify-content: space-between
    padding: $app-md-pd

    li:last-child
        .menuList__link
            color: $app-danger-color

    &__link
        font-size: $app-md-ff
        text-transform: capitalize
        font-variant: small-caps
        transition: 0.07s all linear

        &:hover
            color: $app-golden-color

        &.activeLink
            color: $app-golden-color
            transform: scale(1.05)
            text-decoration: underline

.burger
    position: absolute
    z-index: 15
    display: none
    top: 2%
    right: 0.4%

// MEDIA QUERRIES ----------- ///////////////////////////////////////// 

@media screen and (max-width: 1199.98px)
    .nav
        position: absolute
        top: 2%
        right: 1%
        z-index: 0
        width: 30%
        opacity: 0
        transform: scale(0.1)
        transition: 0.3s all linear

    .menuList
        flex-direction: column
        background-color: inherit

        &__link
            padding: $app-sm-pd

    .burger
        display: block

        &__icon
            font-size: 2.5rem

@media screen and (max-width: 767.99px)
    .nav
        width: 40%

@media screen and (max-width: 575.99px)
    .nav
        width: 50%

    .menuList__link
        font-size: 1.2rem

    .logo
        width: 60px

    .header
        height: 10vh
