@import "../styles/variables.module"

.main
    position: relative
    min-height: 80vh
    background-color: transparent
    width: 80%
    padding: $app-md-pd
    margin: 0 auto
    font-family: $app-base-font

    // MEDIA QUERRIES ----------- ///////////////////////////////////////// 

@media screen and (max-width: 991.98px)
    .main
        width: 88%

@media screen and (max-width: 575.99px)
    .main
        width: 100%        
