@import "../../styles/variables.module.sass"

.navButton
    position: absolute
    width: auto
    background-color: $app-danger-color
    padding: $app-sm-pd
    border-radius: $app-border-radius
    color: $app-light-color
    font-weight: 500
    font-size: 20px


// MEDIA QUERRIES ----------- /////////////////////////////////////////      

@media screen and (min-width: 768px) and (max-width: 1199.98px)
    .navButton
        left: -2%

@media screen and (max-width: 767.98px)    
    .navButton        
        right: 2%
        font-size: 1.1rem
        width: auto
