@import "../../styles/variables.module.sass"
@import "../../styles/mixins"

.select
    font-size: 20px
    padding: $app-sm-pd
    width: 80%
    color: inherit
    font-variant: small-caps
    position: relative
    margin: $app-md-pd auto
    font-weight: 300
    background-color: $app-element-color
    // все опции ---------- --------------
    &__options
        width: 100%
        position: absolute
        top: 100%
        left: 0%
        background-color: inherit
        border-radius: 0 0 $app-border-radius $app-border-radius
        z-index: 4
        overflow-y: auto
        height: 150px

    &__option
        text-align: center
        padding: $app-sm-pd
        color: $app-light-color
        background-color: inherit
        @include after

        &:hover
            color: $app-teal-color

    &:hover
        border-left: 2px solid teal
        border-right: 2px solid teal
        color: teal

.dark
    background-color: rgba(0,0,0, .68)
    color: var(--app-dark-color)

@media screen and (max-width: 1199.98px)
    .select
        width: 85%

@media screen and (max-width: 991.98px)

    .select
        width: 92%
